
div.board{
  display: table;
  margin: 0 auto;
}

img {
  height:75%;
  vertical-align:middle;
}

button.category {
  width: 90px;
  height: 90px;
}

button.clickable:hover{
  background-color: white;
}

button.category_blank {

  visibility: hidden;
}

button.category0 {
  border-radius: 20px;
  background-color: #cccccc;
  border: 5px solid #cccccc;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button.category0Legend {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #cccccc;
  border: 5px solid #cccccc;
}

button.category1 {
  border-radius: 20px;
  background-color: #0e9ad1;
  border: 5px solid #0e9ad1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button.category1Legend {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #0e9ad1;
  border: 5px solid #0e9ad1;
}

button.category2 {
  border-radius: 20px;
  background-color: #d10e0e;
  border: 5px solid #d10e0e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button.category2Legend {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #d10e0e;
  border: 5px solid #d10e0e;
}


button.category3 {
  border-radius: 20px;
  background-color: #f4f07a;
  border: 5px solid #f4f07a;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button.category3Legend {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #f4f07a;
  border: 5px solid #f4f07a;
}

button.category4 {
  border-radius: 20px;
  background-color: #8abc0d;
  border: 5px solid #8abc0d;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button.category4Legend {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #8abc0d;
  border: 5px solid #8abc0d;
}
