
div.board{
  text-align:center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height:90%;
  vertical-align:middle;
}

div.category {
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 150%;
}

div.clickable:hover{
  background-color: white;
}

div.category_blank {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

div.category0 {
  border-radius: 20px;
  background-color: #cccccc;
  border: 5px solid #cccccc;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

div.category0Legend {
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #cccccc;
  border: 5px solid #cccccc;
  font-size: 110%;
}

div.category1 {
  //MOVIES BLUE
  border-radius: 20px;
  background-color: #0e9ad1;
  border: 5px solid #0e9ad1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

div.category1Legend {
  //MOVIES BLUE
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #0e9ad1;
  border: 5px solid #0e9ad1;
  font-size: 110%;
}

div.category2 {
  //SPORTS RED
  border-radius: 20px;
  background-color: #d10e0e;
  border: 5px solid #d10e0e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

div.category2Legend {
  //SPORTS RED
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #d10e0e;
  border: 5px solid #d10e0e;
  font-size: 110%;
}


div.category3 {
  //HISTORY YELLOW
  border-radius: 20px;
  background-color: #f6cd20;
  border: 5px solid #f6cd20;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

div.category3Legend {
  //HISTORY YELLOW
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #f6cd20;
  border: 5px solid #f6cd20;
  font-size: 110%;
}

div.category4 {
  //SCIENCE GREEN
  border-radius: 20px;
  background-color: #8abc0d;
  border: 5px solid #8abc0d;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

div.category4Legend {
  //SCIENCE GREEN
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #8abc0d;
  border: 5px solid #8abc0d;
  font-size: 110%;
}
