

button.category_blank {
  width: 6vw;
  height: 6vw;
  visibility: hidden;
}
img {
  height:75%;
  vertical-align:middle;

}
button.category0 {
  width: 6vw;
  height: 6vw;
  background-color: white;
  cursor: pointer;
}

button.category1 {
  width: 6vw;
  height: 6vw;
  background-color: blue;
  cursor: pointer;
}

button.category2 {
  width: 6vw;
  height: 6vw;
  background-color: red;
  cursor: pointer;
}

button.category3 {
  width: 6vw;
  height: 6vw;
  background-color: yellow;
  cursor: pointer;
}

button.category4 {
  width: 6vw;
  height: 6vw;
  background-color: green;
  cursor: pointer;
}
