body {
  background-color: #ebebe0;
  //background-color: #f9f9f9;
  font-family: Arial;
  //background-image: url("assets/images/paper_texture.jpg");
}
.center_screen{
  display: table;
  margin: 0 auto;
}

.center_text{
  text-align: center;
}

.vertical_middle{
  vertical-align: middle;
}

h1.pregunta{
  font-size: 130%;
}

button:focus {
  outline:0;
}

button:hover:enabled {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



div.questioncategorytext{
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  padding-top:30px;
  padding-bottom: 10px;
}

a.bordered{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

a.yellow{
  font-weight: bolder;
  color: #f6cd20;
  text-shadow: 1px 1px #000000;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
}

a.blue{
  font-weight: bolder;
  color: #0e9ad1;
  text-shadow: 1px 1px #000000;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
}

a.red{
  font-weight: bolder;
  color: #d10e0e;
  text-shadow: 1px 1px #000000;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
}

a.green{
  font-weight: bolder;
  color: #8abc0d;
  text-shadow: 1px 1px #000000;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
}

div.home_screen{
  margin: 30px;
}

div.trivial{
  margin-top: 30px;
  margin-bottom: 30px;
}


div.home_screen h1{
  // font-family: "Gill Sans", Helvetica, sans-serif;
  font-family: verdana;
  // color: white;
  // -webkit-text-stroke-width: 5px;
  // -webkit-text-stroke-color: black;
  font-size: 700%;
}

div.textHome{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

div.textHome p{
  font-size:200%;
  padding-bottom: 50px;
}

div.textHome li{
  font-size:150%;

}

div.header_wrapper div.imgsleft img {
  width: 150px;
  height: 150px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
}

div.header_wrapper div.imgsright img {
  width: 150px;
  height: 150px;
  float: right;
  margin-top: 8px;
  margin-left: 8px;
}

button.homeButton {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: 10px;
  color: black;
  background: white;
  border: 3px solid black;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
}

button.homeButton[disabled]{
  color: gray;
  border: 2px solid gray;
  cursor: default;
}

button.resumeButton, button.newStartButton {
  padding: 15px;
  margin: 10px;
  color: black;
  background: white;
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
}

button.resumeButton:hover, button.newStartButton:hover, button.dieButton:hover, button.homeButton:hover:enabled {
  border-radius: 30px;
}

button.dieButton  {
  padding: 15px;
  margin-bottom: 20px;
  color: black;
  background: white;
  border: 3px solid black;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
}



div.restartTitle {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

div.question {
  width: 850px;
}

#heading {
  font-size: 80px;
  font-family: "Gill Sans", Helvetica, sans-serif;
  font-family: Verdana;
  margin-bottom: 0px;
  margin-top: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  //margin: 8px;
}

#tracking span {
  margin: 20px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}
