

div.die {
  text-align: center;
  margin: 0 auto;
}

div.time {
  float:right;
  //vertical-align: middle;
  font-size:260%;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 22px;
  border: 3px solid black;
  line-height: 60px;
  text-align: center;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  background-color: white;
}

div.long_time {

  background-color: #99ff66;
}

div.medium_time {

  background-color: #ffff4d;
}

div.short_time {

  background-color: #ff8080;
}

hr{
  color:black
}
div.results{
  font-size:130%;
  padding: 30px;
}
div.legend {
  width: 50%;
  height:260px;
  text-align: left;
  margin-left:20px;
  margin-top: 50px;
  padding-left:30px;
}

div.scoreboard {
  width: 50%;
  height:260px;
  line-height: 260px;
  padding-right: 2px;
}
div.scoreboardlives {
  height: 123px;
  line-height: 123px;
  margin-bottom: 2px;
  text-align: center;
}

div.scoreboardlives p {
  line-height: 1.5;
  display: block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;

}

div.scoreboardcrowns {
  height: 123px;
  line-height: 123px;
  margin-top: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

div.scoreboardcrowns p {
  line-height: 1.5;
  display: block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;

}

div.legendRow{
  display: inline-flex;
}

div.rowcss{
  display:inline-flex;
}

div.scoreboardpluslegend1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

div.scoreboardpluslegend2{
  display: inline-flex;
  padding-top:20px;
  padding-bottom: 15px;
  width: 900px;
  height: 260px;
}

div.legendText{
  font-size: 110%;
  height:40px;
  line-height: 40px;
  padding-left: 10px;
}
div.imageDie img{
  height: 200px;
  width: 200px;
  padding: 20px;
}
button.dieButton{
  text-align: center;
  margin: 0 auto;
}
div.quizHeader p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}

div.timer {
  width:10%;
}

div.questiontext {
  width:90%
}

div.question{
  display: table;
  margin: 0 auto;
  padding-bottom: 20px;

}

div.question h1 {
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 15px;
}

div.questionplustimer {
  display: flex;
  width: 850px;
}

div.question div.question_choice {
  background: white;
  margin: 10px;
  padding: 2px;
  border-radius: 25px;
}

div.question div.question_choice div.questionC1{
  float: left;
  width: 35px;
  margin-top: 9px;
  margin-left: 10px;

}

div.question div.question_choice div.questionC2{
  display: inline-block;
  width: auto;
  margin: 12px 8px 12px 8px;
}

div.question div.question_choice input[type="radio"] {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

div.question div.question_choice input[type="radio"][disabled]{
  cursor: default;
}

div.question div.question_choice p {
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}

div.question div.question_choice_clicked {
  background: #ffff99;
}

div.question div.question_choice_correct {
  background: #99ff99;
}

div.question div.question_choice_incorrect {
  background: #ffc2b3;
}

div.question div.question_choice_correct, div.question div.question_choice_incorrect {
  color: black;
  border-radius: 25px;
}

div.question div.questionButtonsWrapper {
  padding: 10px;

}

div.question div.questionButtonsWrapper button.answerQuestion, div.question div.questionButtonsWrapper button.continueTrivial, button.dieButton {
  padding: 10px;
  margin-left: 10px;
  margin-bottom:40px;
  color: black;
  background: white;
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

div.question div.questionButtonsWrapper button[disabled]{
  color: gray;
  border: 2px solid gray;
  cursor: default;
}

div.hearts, div.crowns {
  display: inline-flex;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding:6px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  border-radius: 15px;
  border: 3px solid black;

}

div.hearts img, div.crowns img{
  height:95%;
  width:100%;
  text-align: center;
}

/*
div.hearts img {
  height:90%;
  vertical-align:middle;
}
*/

div.heartsrow, div.crownsrow {
  display:inline-flex;
}
